* {
  margin: 0;
  Padding: 0;
  border: 0;
}

.desktop-menu {
	display: none;
}

/* ***************************HAMBURGER MENU STYLES******************* */

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}
/* ******************END HAMBURGER MENU STYLES*************************/
/* <*universal*> */
/* for sticky footer */
.site {
  display: flex;
  flex-direction: column;
  align-items: 1000vh;
}
.site-content {
  flex: 1;
}

.container {
display: flex;
justify-content:space-around;
}

.container2 {
  display: flex;
  justify-content:space-around;
}

/* end sticky footer */

h1  {
font-family: 'Dancing Script', cursive;
text-align: center;
background-color: white;
color: purple;
font-weight: bold;
font-size: 70px;
}

h2 {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}

figcaption {
  text-align: center;
}

.sub-page {
  background: #A87594;
  left: 0;
  right: 0;
  padding: 10px 0;
  margin-bottom: 1%;
}

.style {
font-family: 'Dancing Script', cursive;
  color: white;
  font-weight: bold;
  font-size: 52px;
  padding-left: 20px;
  text-align: center;
}

h3 {
font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 60px;
  padding-left: 20px;
  text-align: center;
}

h4 {
font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

p {
font-size: 30px;
text-align: center;
}

.bx {
font-family: 'Dancing Script', cursive;
font-size: 60px;
color: #ffffff;
display: inline-block;
margin: 2%;
width: 550px;
height: 200px;
background-color:#79a876;
box-shadow: 5px 5px 5px 5px #A87594;
}
 /* <*home and Sub pages*>  */

  a {
  color: white;
  font-size: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  }

.intro {
  padding: 2%;
  text-align: center;
  margin-top: 4%;
}

.bday {
  height: 200px;
  width: 250px;
  padding: 2%;
  margin: 2%;
  background:#79a876;
  box-shadow: 5px 5px 5px 5px #A87594;
}

.products {
  background: #79a876;
  max-width: 500px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  align-content: center;
  margin-bottom: 3%;
  margin-left: 35%;
}

.contact {
  background: #79a876;
  max-width: 500px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  align-content: center;
  margin-bottom: 3%;
  margin-left: 35%;
}

img {
  max-width: 90%;
  flex-wrap: wrap;
  align-items: center;
}

.about img {
  Padding:0 10px;
  transition: 2s;
}
.about img:hover {
  width: 600px;
  height: 600px;
  transition: 2s;
}

/* <*footer*> */
footer {
  background: #A87594;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* ********************Start 400px Media Query*************** */
@media (min-width: 320px) {
 figure {
   width: 50%
}

.contact {
  margin-left: 0%;
}

}
/* **********************End 400px Media Query******************* */

/* *********************START 600PX MEDIA QUERY************** */

@media (min-width: 600px)  {

  .contact {
    margin-left: 20%;
  }
}


	/* *******************END 600PX MEDIA QUERY******************** */
  /* start 800px********************* */
@media (min-width: 800px) {
 figure {
   width: 75%;
 }

 .contact {
   margin-left: 30%;
 }

}
/* end 800px*************************************** */
	/* ****************** START 1080PX MEDIA QUERY *****************
 */
 @media (min-width:1000px) {

   .contact {
     margin-left: 35%;
   }
}



/* ********End 1000px Media Query**************************** */

/* Start 1200px*********************************************** */

@media (min-width: 1200px) {
figure {
  width: 100%;
}
}
/* end 1200px************************************* */
