* {
  margin: 0;
  Padding: 0;
  border: 0;
}

/* ***************************HAMBURGER MENU STYLES******************* */

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}
/* ******************END HAMBURGER MENU STYLES*************************/

/* Banner Slidder******************************************************* */

/*
Theme Name:

Theme URI:

Description:

Version: 1.0

Author: WebCastle

Author URI: http://webcastletech.com/

*/

.banner-container ul { height: 100%; }

.banner-container li {
  float: left;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

.banner-container li a {
  display: block;
  padding: 1%;
  margin: 0;
}

.banner-container li span.overlay {
  background: url(../images/bg-overlay.png) repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1%;
  left: 0;
}


/* End Banner Slider********************************************************* */

/* <*universal*> */
/* for sticky footer */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.site-content {
  flex: 1;
}

.container {
display: flex;
justify-content:space-around;
}

.container2 {
  display: flex;
  justify-content:space-around;
}

.productpage {
  background-color: #79a876;
}

/* end sticky footer */

h1  {
font-family: 'Dancing Script', cursive;
text-align: center;
background-color: white;
color: purple;
font-weight: bold;
font-size: 6em;
padding: 4%;
}

h2{
font-family: 'Dancing Script', cursive;
text-align: center;
background-color: white;
color: purple;
font-weight: bold;
font-size: 3em;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 6em;
  text-align: center;
}

figcaption {
  text-align: center;
}

  a {
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 4%;
    text-decoration: none;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding-left: 20%;
  }

  nav a:hover {
    background: #A87594;
    color: #A87594;
    max-width: 2%;
    max-height: 2%;
  }

.home {
    text-align: center;
    color: White;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    margin: 0 5%;
    }

.sub-page {
  background: #A87594;
  left: 0;
  right: 0;
  padding: 1% 0;
  margin-bottom: 1%;
}


h4 {
font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 3em;
  padding-left: 2%;
  text-align: center;
  padding: 3%;
}

h5 {
font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

h6 {
font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  padding: 3%;

}

p {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 2em;
text-align: center;
padding-top: 2%;
padding-bottom: 2%;
color: black;
}

.words {
  padding: 1% 3%;
  background: #A87594;
  max-width: 750px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  align-content: center;
  margin-bottom: 3%;
  margin-top: 1%;
  margin-left: 25%;
}

 /* <*home and Sub pages*>  */

.intro {
  padding: 2%;
  text-align: center;
  margin-top: 4%;
}

.bday {
  height: 200px;
  width: 250px;
  padding: 2%;
  margin: 2%;
  background:#79a876;
  box-shadow: 5px 5px 5px 5px #A87594;
}

.products {
  background: #79a876;
  max-width: 45%;
  max-height: 60%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  margin-bottom: 3%;
  margin-left: 25%;
}

.products img {
  max-width: 80%;
  padding-left: 20%;
}

.contact {
  background: #79a876;
  max-width: 35%;
  max-height: 40%;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 2%;
  margin-left: 35%;
}

 .image-grid {
  display: flex;
  justify-content:space-around;
  flex-flow: row wrap;
 }

 .text {
   background: #79a876;
   text-align: center;
   list-style-type: none;
   padding: 2%;
   max-width: 20%;
   border-radius: 5%;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 1em;
   margin: 3% auto;
 }

 .image-grid1 {
  display: flex;
  justify-content:space-around;
  flex-flow: row wrap;
 }

 .image-grid2 {
  display: flex;
  justify-content:space-between;
  flex-flow: row wrap;
 }

 .image-grid img {
   max-width: 75%;
   max-height: 75%;
   height: 200px;
 }

.image-grid1 img {
  max-width: 75%;
  max-height: 75%;
  height: 300px;
}

.soon img {
width: 50%;
margin-left: 25%;
padding-bottom: 2%;
}

.about img {
  padding:0 2%;
  transition: 2s;
}

.about img:hover {
  width: 100%;
  height: 50%;
  transition: 2s;
}

.container img {
  width: 100%;
}

.email {
  background:#79a876;
  display: inline-block;
  margin: 10px;
}

.mailing {
  background:#79a876;
  display: inline-block;
  margin: 10px;
}

.phone {
  background:#79a876;
  display: inline-block;
  margin: 10px;
}

.contact-form {
  background: #79a876;
  text-align: center;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px;
  color: purple;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  margin: 0 auto;
  margin-bottom: 2%;
}

.reset input,
.submit input {
  background: #A87594;
  color: purple;
  padding: 5px 20px;
  display: inline;
}

.input-section{
  margin-bottom: 3%;
}

.reset,
.submit {
  display: inline;
}

.forminfo {
  margin: 50px auto 180px;
  max-width: 900px;
  margin: 50px auto 180px;
  text-align: center;
}

figure {
 max-width: 100%;
}

/* <*footer*> */
footer {
  background: #A87594;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 2%;
}

/* ********************Start 400px Media Query*************** */
@media (min-width: 320px) {

  .container {
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  }
  .products {
    background: #79a876;
    margin-top: 3%;
    max-width: 80%;
    max-height: 60%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.75em;
    margin-bottom: 3%;
    margin-left: 5%;
  }

  .products img {
    max-width: 60%;
    padding-left: 15%;
  }

.about img {
  margin: 5%;
}

.contact {
  margin-left: 5%;
    max-width: 40%;
}

a {
  font-size: 0.75em;

}
/* **********************End 400px Media Query******************* */

/* *********************START 600PX MEDIA QUERY************** */

@media (min-width: 600px)  {


  .contact {
    margin-left: 15%;
      max-width: 45%;
  }

  a {
    font-size: 0.75em;
}

	/* *******************END 600PX MEDIA QUERY******************** */
  /* start 800px********************* */
@media (min-width: 800px) {


  .contact {
    margin-left: 25%;
      max-width: 40%;
  }

  a {
    font-size: 1em;
}
/* end 800px*************************************** */
	/* ****************** START 1080PX MEDIA QUERY *****************
 */
 @media (min-width:1000px) {




   .container {
   display: flex;
   flex-direction: row;
   justify-content:space-around;
   }

   .container2 {
     display: flex;
     flex-direction: row;
     justify-content:space-around;
   }
   .products {
     background: #79a876;
     max-width: 45%;
     max-height: 60%;
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 2em;
     margin-bottom: 3%;
     margin-left: 25%;
   }

   .products img {
     max-width: 80%;
     padding-left: 20%;
   }

   a {
     font-size: 1.5em;
 }

}


/* ********End 1000px Media Query**************************** */

/* Start 1200px*********************************************** */

@media (min-width: 1200px) {

  a {
    font-size: 1.5em;
}

}
/* end 1200px************************************* */
